#identity{
    margin-left: 5%;
}
#logo{
    margin-right: 5%;
    margin-left: 5%;
}

.menu, md-button{
    text-align: center;
}

.footer p{
    text-align: center;
    font-size: 0.8em;
    margin: auto;
}

.footer p a, .footer p a:visited, md-toolbar h1 a{
    text-decoration: none;
    color: inherit;
}

.circle{
    border: solid 2px black;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    text-align: center;
    margin-left: 5%;

}

.license{
    margin-left: 20px;
}

table{
    margin-top: 2%;
    margin-left: 23%;
}