#identity{
    margin-left: 5%;
}
#logo{
    margin-right: 5%;
    margin-left: 5%;
}

.footer p{
    text-align: center;
    font-size: 0.8em;
    margin: auto;
}

.footer p a, .footer p a:visited{
    text-decoration: none;
    color: inherit;
}

.license{
    margin-left: 20px;
}